.box {
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 20px;
    max-width: 90dvw;
    background-color: rgba(59, 58, 56, 1);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;

    & label {
        background-color: rgba(200, 199, 199, 1);
        border: none;
        border-radius: 10px;
        padding: 2px 8px;
        cursor: pointer;
    }

    & input,
    & output {
        color: rgb(255, 255, 255);
        background-color: transparent;
        outline: none;
        border: none;
        width: 70%;
        border-bottom: 2px solid #fff;
        border-radius: 10px;
        padding: 2px 8px;
        text-align: center;
        max-width: 400px;

        pointer-events: none;
    }
}

.btnSender {
    background-color: rgba(59, 58, 56, 1);
    border: none;
    border-radius: 10px;
    min-width: 40%;
    margin: auto;
    padding: 4px 8px;
    color: #fff;
    font-size: 1em;
    display: block;
    cursor: pointer;
}

.btnSender.disabled {
    color: grey;
}

.hide {
    display: none;
}

.success {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

a {
    border: none;
    background-color: transparent !important;
}   

#resp {
    width: 90dvw;
    margin: 0em auto 1.7em;
    overflow-x: scroll;
}
#resp  a{
    font-size: 40%;
}

#popup {
    margin: auto;
    min-width: 300px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    border-radius: 20px;
    
    &::backdrop {
        backdrop-filter: blur(50px);
    }
}

#popup aside {
    position: relative;
    width: fit-content;
}

.info {
    width: 90%;
}

#popup .btn {
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: grey;
    margin-top: 1.5em;
    cursor: pointer;
    padding: 3px 10px;
}

#popup img {
    width: 100px;
    padding: 10px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}